<p>
  <strong>Journey:</strong>
  <%= @payment_transaction.journey_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @payment_transaction.journey_cost %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @payment_transaction.profit %>
</p>


<%= link_to 'Back', @payment_transaction.user %>
