<p>
  <strong>Brand:</strong>
  <%= @transaction.journey_id %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @transaction.journey_cost %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @transaction.profit %>
</p>


<%= link_to 'Back', @transaction.user %>
