<%# if user_signed_in? %>
<!-- <div class="home-page">
  <h1>Welcome to Gig Hub</h1>
  <h2>Search gigs, save your favourites and book!</h2>
 -->
<%# else %>
  <!-- <div class="main"> -->
    <%#= link_to "Sign up", new_user_registration_path, :class => 'signup btn'  %> |
    <%#= link_to "Login", new_user_session_path, :class => 'login btn'  %>
    <%# end %>
  <!-- </div>
  </div> -->