body {
  background: #333 url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/about-heros/about-hero-1-1440-900.jpg") no-repeat;
  margin: 0;
  color: white;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.block-white {
  background: white;
  height: 600px;
  margin-top: 0px;
}
.logo {
  margin: 0 0 0 20px;
  max-width: 91px;
}
.header {
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 110%;
  padding: 15px 0;
  margin: 0px auto;
  background: rgba(10,10,10,.8);
}

/*HOME PAGE*/

.btn {
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}

.btn:hover {
  color: white;
  background-color: #ff3660; 
}

.smaller {
  margin-top: 6px;
}

.signup {
  display: inline-block;
  text-align: centre;
  border: 1px solid;
  border-color: #ff3660;
}
.register {
  margin-right: 20px;
}

.login {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ff3660;
  padding: 8px;
}
.home-page {
  margin-top: 50px;
  color: white;
  text-align: center;
}
.home-page h1 {
  font-weight: 100;
  font-size: 2.5em;
  line-height: 1.8em;
}
.home-page h2 {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.8em;
  font-style: italic;
}
a {
  color: white;
  text-decoration: none;
}
.header {
  position: static;

}

.center {
text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
}
h3 {
  text-align: center;
}
.car_icon {
  max-width: 20%;
  display: inline-block;
  margin: 20px;
  
}
.search_icon {
  max-width: 20%;
  display: inline-block; 
  margin: 20px;
  
}
.icon_wrapper {
  max-width: 80%;
  color: white;
  margin: 50px auto;
  padding: 40px;
  background: rgba(10,10,10,.8);
}
li{
    color: white;
    padding: 10px;
}

h3 {
    border-bottom: 4px solid #ff3660;
    padding: .3em 0 .3em .3em;
    border-left: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.icon_wrapper .flex div {
  flex: 1 400px;
  justify-content: space-between;
  max-width: 390px;
  margin: auto;
  text-align: center;
}
.account {
  color: white;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 15px;
}
.account img { 
  border-radius: 20px;
  max-width: 40px;
  position: absolute;
  top: 15px;
  right: 5px;

}
.account p {
  font-size: .8em;
}
.account a {
  font-weight: 100;
}

/*END HOME PAGE*/


/*NAVIGATION*/

.nav {
  margin: 0 auto;
  max-width: 40%;
  text-align: center;
 
}
.nav ul {
  margin: 0;
  padding: 0;
  
}
.nav li {
  display: inline-block;
  list-style-type: none;
  border-color: #ff3660;
  border-radius: 3px;
}
.nav a {
  color: white;
  display: inline-block;
  padding: 8px 8px;
  font-size: 15px;
}

.nav a:hover {
  background-color: #ff3660;
  color: white;
}


/*END OF NAVIGATION*/


/*JOURNEYS*/
.journeys {
  max-width: 80%;
  color: white;
  margin: 40px auto;
  padding: 60px;
  background: rgba(10,10,10,.8);
  font-family: "brandon-grotesque", sans-serif;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

/*FOOTER*/
.footer { 
    background-color: #6b9297;
    height: 80px;
    opacity: 0.9;
    position: relative;
    width: 100%;
    bottom: 0px;
    left: 0px;

}
.jellyfish {
  max-width: 10%;
  float: right;
  margin: 10px 10px;
}
/*END FOOTER*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  padding: 5px;
  margin: 5px 0 10px 0;
}
input[type=submit]{
  border: 0;
  background-color: white;
  margin: 15px auto;
  display: block;
}
#map {
  height: 300px;
  width: 500px;
}
#floating-panel select {
 margin: 10px 10px 10px 0;
}
.new-journey {
    max-width: 80%;
    color: white;
    margin: 40px auto;
    padding: 60px;
    background: rgba(10,10,10,.8);
    padding-bottom: 100px;
}
.new-journey .flex {
  justify-content: space-between;
}
.map_img {
  width: 100%;
  margin-top: 0;
}
.google-map {
  
}
.map-form {
}
.form-price {
    max-width: 80%;
    color: white;
    margin: 40px auto;
    text-align: center;
    padding: 60px;
    background: rgba(10,10,10,.8);
    font-family: "brandon-grotesque", sans-serif;

}

.user-form {
    max-width: 80%;
    color: white;
    margin: 40px auto;
    padding: 60px;
    background: rgba(10,10,10,.8);
    padding-bottom: 100px;
}


/*.field {
  font-size: 20px;
  text-align: center;
}*/


