body {
  background: #333 url("https://d1a3f4spazzrp4.cloudfront.net/web-fresh/about-heros/about-hero-1-1440-900.jpg") no-repeat;
  margin: 0;
  color: white;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.block-white {
  background: white;
  height: 600px;
  margin-top: 0px;
}
.logo {
  margin: 0 0 0 20px;
  max-width: 91px;
}
.header {
  justify-content: space-between;
  align-items: center;
  color: white;
  max-width: 110%;
  padding: 15px 0;
  margin: 0px auto;
  background: rgba(10,10,10,.8);
}



/*HOME PAGE*/


.btn {
  text-align: center;
  border-radius: 3px;
  padding: 8px;
}

.car_icon:hover {
  transform: scale(1.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
.search_icon:hover {
  transform: scale(1.5) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
}
.btn-reverse {
  color: white;
  background-color: #ff3660; 
}

.smaller {
  font-size: 12px;
}

.signup {
  display: inline-block;
  text-align: centre;
  border: 1px solid;
  border-color: #ff3660;
}
.register {
  margin-right: 20px;
}

.login {
  display: inline-block;
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ff3660;
  padding: 8px;
}
.home-page {
  margin-top: 100px;
  color: white;
  text-align: center;
}
.home-page h1 {
  font-weight: 100;
  font-size: 2.3em;
  line-height: 1.8em;
  max-width: 38em;
  margin: auto;
}
.home-page h2 {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.8em;
  font-style: italic;
}
.new-car h2 {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.8em;
  font-style: italic;
}
a {
  color: white;
  text-decoration: none;
}
.header {
  position: static;

}

.center {
text-align: center;
}
p {
  font-size: 20px;
  text-align: center;
}
h3 {
  text-align: center;
}
.car_icon {
  max-width: 20%;
  display: inline-block;
  margin: 20px;
  
}

.passenger_list {
  display: inline; 

}

.search_icon {
  max-width: 20%;
  display: inline-block; 
  margin: 20px;
  
}
.icon_wrapper {
  max-width: 80%;
  color: white;
  margin: 50px auto;
  padding: 40px;
  background: rgba(10,10,10,.8);
}
li{
    color: white;
    padding: 10px;
}

h3 {
    border-bottom: 4px solid #ff3660;
    padding: .3em 0 .3em .3em;
    border-left: none;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}

.icon_wrapper .flex div {
  flex: 1 400px;
  justify-content: space-between;
  max-width: 390px;
  margin: auto;
  text-align: center;
}
.account {
  color: white;
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 15px;
}
.account img { 
  border-radius: 20px;
  max-width: 40px;
  position: absolute;
  top: 15px;
  right: 5px;

}
.account p {
  font-size: .8em;
}
.account a {
  font-weight: 100;
}
.envelope {
  max-width: 50%;
  margin-right: 150px;
}

/*END HOME PAGE*/


/*NAVIGATION*/

.nav {
  margin: 0 auto;
  max-width: 40%;
  text-align: center;
 
}
.nav ul {
  margin: 0;
  padding: 0;
  
}
.nav li {
  display: inline-block;
  list-style-type: none;
  border-color: #ff3660;
  border-radius: 3px;
}
.nav a {
  color: white;
  display: inline-block;
  padding: 8px 8px;
  font-size: 15px;
  border-radius: 3px;
}

.nav a:hover {
  background-color: #ff3660;
  color: white;
}


/*END OF NAVIGATION*/


/*JOURNEYS*/
.journeys {
  max-width: 80%;
  color: white;
  margin: 100px auto;
  padding: 60px;
  text-align: center;
  background: rgba(10,10,10,.8);
  font-family: "brandon-grotesque", sans-serif;
}
.journeys h1 {
  text-align: center;
  font-weight:200;
  color: white;
  margin-bottom: 50px;
}
.journeys table {
  margin-bottom: 40px;  
}
a.btn {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.wrapper {
  min-height: 100%;
  position: relative;
}
th {
  padding: 10px;
}
td {
  padding: 10px;
  border: 1px solid color: #ff3660;
  padding: 15px;
}
table { 
  border-collapse: collapse;
  width: 100%;
}

tr {
  border: 1px solid white;
  border-right: 0;
  border-left: 0;
}
tr:hover {
  background-color: #c9cbc8;
  background-color: rgba(255, 255, 255, 0.4);
}
/*FOOTER*/
.footer { 
    background-color: #6b9297;
    height: 80px;
    opacity: 0.9;
    position: relative;
    width: 100%;
    bottom: 0px;
    left: 0px;

}
.jellyfish {
  max-width: 10%;
  float: right;
  margin: 10px 10px;
}
/*END FOOTER*/


/*NEW JOURNEY PAGE*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
input {
  padding: 5px;
  margin: 5px 0 10px 0;
}
input[type=submit]{
  border: 0;
  background-color: white;
  margin: 15px auto;
  display: block;
}
#map {
  height: 300px;
  width: 500px;
}
#floating-panel select {
 margin: 10px 10px 10px 0;
}
.new-journey {
    max-width: 80%;
    color: white;
    margin: 80px auto;
    padding: 60px;
    background: rgba(10,10,10,.8);
    padding-bottom: 100px;
}

.new-journey .flex {
  justify-content: space-between;
}
.map_img {
  width: 100%;
  margin-top: 0;
}
.google-map {
  
}
.map-form {
}
/*END OF NEW JOURNEY PAGE*/


.form-price {
    max-width: 80%;
    color: white;
    margin: 40px auto;
    text-align: center;
    padding: 60px;
    background: rgba(10,10,10,.8);
    font-family: "brandon-grotesque", sans-serif;

}


.user-form {
    max-width: 80%;
    color: white;
    margin: 40px auto;
    padding: 60px;
    background: rgba(10,10,10,.8);
    padding-bottom: 100px;
}

/*END OF INTERACTIVE MAP*/

/*SIGN UP BOX*/
.sign_up_page {
  max-width: 30%;
  color: white;
  margin: 30px auto;
  padding: 60px;
  background: rgba(10,10,10,.8);
  padding-bottom: 100px;
  text-align: center;
}
.sign_up_page .field:hover {
  color: #ff3660;
}
.sign_up_page h1{
  color: white;

}
/*END OF SIGN UP BOX*/

/*EDIT PROFILE BOX*/
.edit_profile {
  max-width: 30%;
  color: white;
  margin: 100px auto;
  padding: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  background: rgba(10,10,10,.8);
  padding-bottom: 80px;
  text-align: center;
}
.edit_profile btn {

}
.edit_profile .field:hover {
  color: #ff3660;
}
.edit_profile h1 {
  color: white;
}
/*END OF EDIT PROFILE BOX*/

/*LOGIN BOX*/
.login_box {
  max-width: 25%;
  color: white;
  margin: 100px auto;
  padding: 60px;
  background: rgba(10,10,10,.8);
  padding-bottom: 100px;
  text-align: center;
}
.login_box .field:hover {
  color: #ff3660;
}
/*END OF LOGIN BOX*/

/*MESSAGES BOX*/
.messages {
  max-width: 30%;
  color: white;
  margin: 100px auto;
  padding: 60px;
  background: rgba(10,10,10,.8);
  padding-bottom: 43px;
  text-align: center;

}
.mailbox h1 {
  font-weight: 100;
  font-size: 1.7em;
  line-height: 1.8em;
  max-width: 38em;
  margin: 50px auto;
}
.mailbox col-sm-3 {
  text-align: center;
}
.mailbox btn btn-reverse {
  background-color: white;
}

/*.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}*/
.form-control {
  /*width: 90px;*/
  width: 190px;
}

.subject-box {
  width: 90px;
}
.recipient-box {
  max-width: 80px;
  max-height: 30px;
}
input[type=submit] {
  /*width:60px;*/
}
label:hover {
color:  #ff3660;
}

/*FIXED HEADER*/
.header.header.flex {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
    margin-bottom: 90px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.f-nav nav {
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0 2px 12px #efefef;
    -moz-box-shadow: 0 2px 12px #efefef;
    box-shadow: 0 2px 12px #efefef;
}
/*END OF FIXED HEADER*/


/*CONVERSETION-PAGE*/
    .mailbox {
      max-width: 80%;
      color: white;
      margin: 100px auto;
      padding: 60px;
      background: rgba(10,10,10,.8);
      font-family: "brandon-grotesque", sans-serif;
    }

.show-trip {
  margin: 50px;
}
  
/*NEW TRANSACTION PAGE*/

.field a{
  font-weight: 300;
  font-size: 25px;
} 

.actions btn {
  margin-top: 40px;
}
.field {
  margin-bottom: 40px;
}

.car_image {
  width: 40%;
  padding-top: 40px;
  padding-bottom: 40px;
}




