<div class="journeys">
  <p>
    <strong>Brand:</strong>
    <%= @car.brand %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= @car.seats %>
  </p>

  <div class="back_btn">
    <%= link_to 'Back', @car.user %>
  </div>
</div>
